.dropdown *,
.dropdown *::before,
.dropdown *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  width: rem(350);
  height: rem(55);
  margin: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  z-index: 1;
}

.dropdown::before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: rem(20);
  transform: translateY(-2px);
  width: 0;
  height: 0;
  transition: all 0.2s linear;
  border-top: 6px solid var(--color-raven-grey);
  border-right: rem(6) solid transparent;
  border-bottom: rem(6) solid transparent;
  border-left: rem(6) solid transparent;
}

.dropdown__input {
  @include input-field(100%, 100%);
  user-select: none;
  font-size: rem(18);
  font-family: var(--font-family-second);
  font-weight: 400;
  text-align: center;
}

.dropdown__opened .dropdown__input {
  border-radius: var(--border-radius-top);
}

.dropdown__options {
  position: absolute;
  top: rem(55);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  overflow: hidden;
  width: 100%;
  padding-bottom: rem(8);
  transition: all 0.2s ease;
  background: var(--color-white);
  cursor: pointer;
  border-radius: var(--border-radius-bottom);
}

.dropdown__option {
  margin: rem(10);
  padding: rem(3);
  transition: all 0.2s ease;
  border-radius: var(--border-radius);
  font-size: rem(18);
  font-family: var(--font-family-second);
  font-weight: 400;
  color: var(--color-raven-grey);
  text-align: center;
  list-style: none;
}

.dropdown__option:hover {
  background-color: var(--color-jupiter);
  font-weight: bold;
}

.dropdown__opened .dropdown__options {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown__opened::before {
  transform: rotateX(180deg) translateY(rem(8));
}

@include breakpoint(mobile) {
  .dropdown {
    width: 100%;
  }

  .dropdown__input,
  .dropdown__option {
    font-size: rem(14);
  }
}
