html {
  font-size: 16px;
}

@include breakpoint(huge) {
  html {
    font-size: 18px;
  }
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-image: image-set(url("../img/bg.webp") 1x);
  font-family: var(--font-family-main);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: rem(960);
  min-height: 100vh;
  margin: auto;
  padding: 0 rem(20);
}

.main {
  margin: auto;
  padding: rem(40) 0 rem(80);
}

.title {
  margin: rem(16) 0;
  font-size: rem(38);
  font-family: var(--font-family-title-bold);
  font-weight: 700;
  color: var(--color-blue-cue);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sub-title {
  margin: rem(16) 0 rem(45);
  font-size: rem(36);
  font-family: var(--font-family-title);
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 4px;
}

@include breakpoint(tablet) {
  body {
    background-image: url("../img/bg-tb.jpg");
    background-image: image-set(url("../img/bg-tb.webp") 1x);
  }

  .title {
    font-size: rem(28);
    font-family: var(--font-family-title);
  }

  .sub-title {
    font-size: rem(24);
  }
}

@include breakpoint(mobile) {
  body {
    background-image: url("../img/bg-mb.jpg");
    background-image: image-set(url("../img/bg-mb.webp") 1x);
  }

  .container {
    padding: 0 rem(5);
  }

  .title {
    font-size: rem(18);
    font-family: "Proxima Nova";
  }

  .sub-title {
    margin-bottom: rem(90);
    font-size: rem(16);
  }
}
