.slider-form__wrap {
  max-height: 0;
  overflow: hidden;
  opacity: 0.1;
  transition: max-height 0.5s ease-out, opacity 0.2s ease 0.1s;
}

.slider-form__wrap--opened {
  opacity: 1;
  overflow: inherit;
  max-height: rem(500);
}

.slider-form {
  position: relative;
  width: rem(400);
  margin: auto;
}
.slider-form__inner {
  position: relative;
  overflow-x: clip;
  height: 190px;
}

.slider-form__slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider-form__fieldset {
  position: relative;
  width: rem(360);
  height: rem(90);
  margin: 0 auto rem(15);
  padding: 0;
  background-color: var(--color-winter-haven);
  border: none;
  border-radius: var(--border-radius);
}

.slider-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(30);
  font-size: rem(14);
  font-family: var(--font-family-second);
  font-weight: 700;
  color: var(--color-white);
}

.slider-form__input {
  @include input-field(rem(350), rem(55));
  display: block;
  margin: 0 rem(5);
  padding: 0 rem(10);
  font-size: rem(18);
  font-family: var(--font-family-second);
  font-weight: 400;
  color: var(--color-raven-grey);
  text-align: center;
}

.slider-form__helper {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  font-size: rem(11);
  font-family: var(--font-family-second);
  font-weight: 700;
  line-height: rem(16);
  color: var(--color-white);
  text-align: center;
}

.slider-form__validation-error {
  @include message();
  margin-top: rem(4);
  font-size: rem(14);
  font-family: var(--font-family-second);
  font-weight: bold;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-form__btn {
  display: flex;
  position: absolute;
  top: rem(40);
  height: rem(40);
  cursor: pointer;
  border-radius: var(--border-radius);
}
.slider-form__btn--left {
  right: 100%;
  opacity: 0.5;
  width: rem(40);
  margin-right: rem(10);
  background-color: transparent;
  border: 2px solid var(--color-white);
  &:hover {
    opacity: 1;
  }
}

.slider-form__btn--disabled {
  &:hover {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.slider-form__btn--right {
  @include button(rem(120));
  left: 100%;
  margin-left: rem(10);
  font-size: rem(14);
  font-family: var(--font-family-second);
  span {
    margin-right: rem(6);
  }
}

.slider-form__btn--right-ok {
  display: none;
  @include button(rem(120), "green");
  span {
    margin-right: rem(13);
  }
}

.icon-arrow-left {
  position: relative;
  left: rem(3);
  transform: rotate(-45deg);
  width: rem(12);
  height: rem(12);
  margin: auto;
  border-top: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
}

.icon-arrow-right {
  position: relative;
  transform: rotate(135deg);
  width: rem(12);
  height: rem(12);
  border-top: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
}

.icon-ok {
  position: relative;
  top: rem(-3);
  transform: rotate(40deg);
  width: rem(9);
  height: rem(14);
  border-right: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.slider-form__progress {
  display: flex;
  justify-content: center;
  margin-top: rem(10);
  padding: 0;
  color: var(--color-white);
}

.slider-form__progress-item {
  width: rem(10);
  height: rem(10);
  margin: 0 rem(8);
  border: 1px solid;
  border-radius: 50%;
  list-style: none;
}

.slider-form__progress-item--done {
  background-color: var(--color-white);
}

@include breakpoint(mobile) {
  .slider-form {
    width: rem(360);
    margin-top: rem(50);
  }

  .slider-form__btn {
    top: rem(-50);
  }

  .slider-form__btn--left {
    left: 0;
  }

  .slider-form__btn--right {
    left: auto;
    right: 0;
  }
}
