@import "../../node_modules/normalize.css/normalize.css";
@import "variables";
@import "mixins";

@import "header";
@import "main";

@import "slider-form";
@import "dropdown";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  src: url("../fonts/ProximaNova.otf") format("opentype");
  font-display: swap;
  font-family: "Proxima Nova";
}

@font-face {
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
  font-display: swap;
  font-family: "Proxima Nova Bold";
}
